on:
  schedule:
    - cron: "0 0 * * 5"
  workflow_dispatch:

name: Scala Steward

permissions:
  contents: write
  pull-requests: write

jobs:
  scala-steward:
    runs-on: ubuntu-latest
    name: Scala Steward
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.H8IO_APP_ID }}
          private-key: ${{ secrets.H8IO_APP_PK }}
      - uses: scala-steward-org/scala-steward-action@v2
        with:
          github-token: ${{ steps.app-token.outputs.token }}
